[submodule "snippets/iban_pt_nib"]
	path = snippets/iban_pt_nib
	url = git@gist.github.com:ed970d4306d6e824d29a9e9e136be654.git
[submodule "snippets/reident"]
	path = snippets/reident
	url = git@gist.github.com:31e19db1dba146e512e4ea39c2c76279.git
[submodule "snippets/grelha-meo"]
	path = snippets/grelha-meo
	url = git@gist.github.com:4537fea8688ee2712171dd71c5684079.git
[submodule "snippets/simple_pop_list"]
	path = snippets/simple_pop_list
	url = git@gist.github.com:5f5d9595b0b4020bdf1f337734f4c5a6.git
[submodule "snippets/secs_text"]
	path = snippets/secs_text
	url = git@gist.github.com:c32c1579ad163d8c5c7f34eda28b208d.git
[submodule "snippets/states_hash"]
	path = snippets/states_hash
	url = git@gist.github.com:4de2939130d187e1b44965298c56d6c7.git
[submodule "snippets/ls_colors"]
	path = snippets/ls_colors
	url = git@gist.github.com:3cc4239e666baa4d8499cede47fc1f65.git
[submodule "snippets/snippets/ux_colors"]
	path = snippets/snippets/ux_colors
	url = git@gist.github.com:717a2868b55275925784f9b3e874bcfe.git
